.vscode
*.o
*.a
.sconsign.dblite
*.os
driver
libaap.so
build
*.pyc
callgrind.out.*
*.prc
*.pck
cmake-build-debug
cmake-build-release
CMakeFiles
.idea
src/app/Makefile
src/lib/Makefile
Makefile
*.cmake
CMakeCache.txt
park.cbp
ubuntu-build-*
mac-build-*
mac_park_debug
mac_park_release
park
!park/
test_park
